html {
    /*background image*/
  background: url(images/wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  font-family: 'Lato', sans-serif;
  color: black;

}

#background-text{
  display:block;
  height: 350px;
  width:460px;
  text-indent:-9999px;
  position: fixed;
  top: 40px;
  left:300px;
}

#background-text2{
  display:block;
  height:70px;
  width:700px;
  text-indent:-9999px;
  position: fixed;
  top: 390px;
  left:200px;
}

#hyperlink {
  background: url(images/dashboard.jpg) no-repeat  ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  /*margin: 0 auto;*/
  text-indent: -9999px;
  width: 981px;
  height: 400px;
}

#hyperlink2 {
  background: url(images/watcher.jpg) no-repeat  ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  /*margin: 0 auto;*/
  text-indent: -9999px;
  width: 981px;
  height: 400px;
}

#hyperlink3 {
  background: url(images/notes.jpg) no-repeat  ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  /*margin: 0 auto;*/
  text-indent: -9999px;
  width: 981px;
  height: 400px;
}

#hyperlink4 {
  background: url(images/ss-site.jpg) no-repeat  ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  /*margin: 0 auto;*/
  text-indent: -9999px;
  width: 981px;
  height: 400px;
}

#hyperlink5 {
  background: url(images/key-page.jpg) no-repeat  ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  /*margin: 0 auto;*/
  text-indent: -9999px;
  width: 981px;
  height: 400px;
}

#hyperlink6 {
  background: url(images/warning.jpg) no-repeat  ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  /*margin: 0 auto;*/
  text-indent: -9999px;
  width: 981px;
  height: 400px;
}

#access {
  display: block;
  position: fixed;
  top: 365px;
  left:790px;
}

#reset {
  display: block;
  position: fixed;
  top: 350px;
  left:790px;
}

#about {
  display: block;
  position: fixed;
  top: 260px;
  left:120px;
}

#help {
  display: block;
  position: fixed;
  top: 260px;
  left:325px;
}

#music {
  display: block;
  position: fixed;
  top: 260px;
  left:550px;
}

.triangle{
  height: 350px;
  width:460px;
  position: fixed;
  top: 40px;
  left:900px;
}

#key {
  display: block;
  position: fixed;
  top: 200px;
  left:325px;
}


@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.triangle {
    animation: blink 2s;
    animation-iteration-count: infinite;
}

/*popup window styling*/
.modalDialog {
	position: fixed;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 200ms ease-in;
	-moz-transition: opacity 200ms ease-in;
	transition: opacity 200ms ease-in;
	pointer-events: none;

}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 980px; /*text width*/
  height: 420px;
	position: relative;
	margin: 3% auto;
	padding: 20px 20px 20px 20px; /*text to border margin*/
	border-radius: 0px;
	background: #fff;
}

.modalDialog2 p {
  font-size: 48px;
  text-align: center;
}
.modalDialog2 {
	position: fixed;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
	top: 100px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	opacity:0;
	/*-webkit-transition: opacity 200ms ease-in;
	-moz-transition: opacity 200ms ease-in;
	transition: opacity 200ms ease-in;*/
	pointer-events: none;

}

.modalDialog2:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog2 > div {
	width: 980px; /*text width*/
  height: 300px;
	position: relative;
	margin: 3% auto;
	padding: 20px 20px 20px 20px; /*text to border margin*/
	border-radius: 0px;
	background: #ff3a2a;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;

}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #ff3a2a; }




/*icon alignment*/
.row {
  margin: 50px 50px 50px 50px;
}
.app-icon {
    margin: 0 0 20px 0;
}
